@import "../Variables.scss";

.MainPage {
	.Head {
		font-size: 1.25em;
		text-align: center;

		margin: 100px 0;

		h1 {
			color: $primaryColor;
		}
	}

	.SearchFieldContainer,
	.SwitchItem {
		width: 600px;
	}

	.SwitchItem > h4 {
		margin-right: auto;
	}

	.ButtonsContainer {
		width: 500px;
		margin-top: 50px;

		display: flex;

		.Right {
			margin-left: auto;
		}

		.Button {
			display: flex;
			align-items: center;

			margin-bottom: 7px;
			padding: 7px;

			svg {
				margin-right: 7px;
			}

			.Title {
				flex-grow: 1;
			}

			cursor: pointer;
			transition: color $ft, background-color $ft;

			&:hover {
				color: white;
				background-color: $primaryColor;
			}

			&.Disabled {
				opacity: 0.5;
			}
		}
	}

	.News {
		margin: 80px 0;
		padding: 10px;

		.Title {
			margin-top: 0;
			color: $primaryColor;
		}

		.Poster {
			margin-left: auto;

			> b {
				color: $primaryColor;
			}
		}

		cursor: pointer;
		transition: background-color $ft, backdrop-filter $ft;

		&:hover {
			background-color: rgba(black, 0.2);
			backdrop-filter: blur(5px);
		}
	}

	.UseAModernWebBrowserThatActuallySupportsBackdropFilterAndOtherFeaturesFromMoreThan5YearsAgo {
		color: var(--cf-red);
		text-align: center;

		margin-top: 50px;

		a:not(:first-child) {
			margin-left: 10px;
		}
	}
}

#root .Mobile .MainPage {
	.SearchFieldContainer,
	.SwitchItem,
	.ButtonsContainer {
		width: 80vw;
	}
}
