@import "../Variables";

.PostsPage {
	.DatePicker {
		width: 100%;
		
		display: flex;
		align-items: center;
		justify-content: center;
		
		h2 {
			margin-right: 10px;
		}
		
		input {
			background-color: var(--txt-color);
			color: black;
			
			padding: 7px;
			border-radius: 2px;
			
			border: none;
			outline: none;
		}
	}

	.PoolInfo {
		margin: 40px 10vw;
		padding: 30px;
		background: var(--secondary-bg);

		.Name {
			margin-top: 0;
		}

		.Description {
			margin-bottom: 0;
			user-select: text;
			word-wrap: break-word;
		}
	}
}

.Blacklists {
	padding: 10px;

	.Label {
		margin: 0;
		margin-right: 10px;
	}
}