@import "../Variables";

.SetsPage {
	.NoSets {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		text-align: center;

		max-width: 90vw;
		margin: auto;
		margin-top: 25vh;

		h2 {
			color: $primaryColor;
		}

		> svg {
			width: 80px;
			height: 80px;

			margin-top: 30px;
		}
	}
	
	.Items {
		width: 800px;
		max-width: 80vw;
		
		margin: 0 auto;
		
		.PostSet {
			position: relative;
			background-color: rgba(black, 0.2);
			
			margin-bottom: 15px;
			padding: 10px;
			border-radius: 3px 3px 0 0;
			
			.Head {
				display: flex;
				
				.Title {
					font-weight: bolder;
					color: $primaryColor;
				}
				
				.ShortName {
					margin-left: auto;
					user-select: text;

					span {
						margin-left: 5px;
						color: var(--primary-color);
					}
				}
			}
			
			.Description {
				margin-top: 10px;
			}
			
			transition: transform $ft, box-shadow $ft;
			cursor: pointer;
			
			&:Hover {
				transform: scale(1.01);
				box-shadow: 0 0 12px rgba(black, 0.25);
			}

			.Footer {
				position: absolute;
				left: 0; right: 0;
				bottom: -37px;
				background: rgba(black, 0.1);
				padding: 5px;
				border-radius: 0 0 3px 3px;
			}
		}
	}.PostSet.PostSetWarning {
		background: rgba(#ff6666, 0.2);
		color: #ff7777;
	}
	
	.PostSet.PostSetNote {
		background: rgba(#6666ff, 0.2);
		color: #8888ff;
	}
}