@import "../Variables";

.SettingsPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	.Section {
		width: 600px;
		padding: 20px;
		margin-bottom: 50px;

		background-color: rgba(black, 0.2);
		backdrop-filter: blur(7px);
		border-top: 5px solid $primaryColor;
		
		h1 {
			margin-top: 0;
		}
		
		u {
			cursor: pointer;
		}
		
		> :Not(h1) {
			margin-top: 15px;
		}
		
		.FieldContainer {
			.ResetButton {
				margin-left: 10px;
				
				cursor: pointer;
				transition: color $ft;
				
				svg {
					width: 20px;
					height: 20px;
					
					margin-top: 5px;
				}
				
				.Tooltip {
					color: white;
				}
				
				&:Hover {
					color: white;
				}
			}
			
			.ColorPicker {
				border: none;
				outline: none;
				appearance: none;
				
				background: transparent;
				padding: 0;
				margin-right: 10px;
				
				width: 20px;
				height: 23px;
				
				cursor: pointer;
				
				&::-webkit-color-swatch {
					border: none;
				}
			}
			
			input.Field {
				position: relative;
				
				background: none;
				outline: none;
				border: none;
				
				border-bottom: 2px solid var(--txt-color);
				padding: 7px;
				min-width: 50%;
				
				color: var(--txt-color);
				
				&::Placeholder {
					color: var(--txt-color);
				}
				
				transition: color $ft, border-color $ft, background-color $ft;

				&.Confidential {
					color: transparent;
					text-shadow: 0 0 7px var(--txt-color);
				}
				
				&:Focus {
					color: white;
					border-color: $primaryColor;
					background-color: $secondaryBG;
				}
			}
		}
	}
}

#root .Mobile .SettingsPage {
	.Section {
		width: 80vw;
	}
}